<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<style type="text/css">

.bg-img{
  /* The image used */
  /*  background-image: url("bookbyauthor.jpg"); */

  /* Control the height of the image */
    min-height: 600px;
  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
}

.bg-img h1{
    background: #2A88AD;
	padding: 10px 10px 15px 30px;
	margin: -25px -25px 25px -25px;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px 'Bitter', serif;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
}

.bg-img h1 > span{
	display: block;
	margin-top: 2px;
	text-align: center;
	font: 45px Verdana, Helvetica, sans-serif;
}

.h2{
	background-color: #006699;
	margin: -25px -20px 20px -15px;
	border-radius: 10px 10px 0 0;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
    font: 25px;
	color: #fff;
}

.ul{
	list-style-type: none;
	font-size: 18px;
	margin: 0; 
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

.bodyheading{
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	font-size: 40px;
	text-align: left;
	color: black;
}

.body{
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	font-size: 20px;
	text-align: left;
	color: black;
}

.button {
  background-color: #4CAF50;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 30px;
}

</style>

<div class="bg-img">

<h1><span>Sam's Digital Library</span></h1>
<h2 div class = h2>Hi {{ username }}</h2>

  <a div class="bodyheading"><ul>{{ Author }}</ul></a> 
      <a1 div class = "body"><li position=absolute margin-left=10px "> {{ booklist }}</li></a1>
  <a  href="http://localhost:5000/home" class="button">Home</a>
</div>